#Hero{
    width: 80%;
    height: 100vh;
    margin: auto; 
    position: relative;
}

.img-container{
    /* height: 90%; */
    width: 100%; 
 
       
}

.img-container img{
    width: 100%;
    /* height: 100%; */
   

}
 .men{
    position: absolute;
    left: 20rem;
    top: 50%;

}
.women{
    position: absolute;
    top: 50%;
    right: 20rem;

}